.tableOpis{
    position: relative;
    text-align: center;
    bottom: 50px;
    height:150px;
    width: 100%;
    max-width: 150px;
    background:rgb(128, 128, 128);
}
.tableOpis p{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 80%;
    color:white
}
@media screen and (max-width:662px) {
    .tableOpis{
        display: none;
    }
}